  <h1>
    Welcome to {{title}}
  </h1>
<!--/div-->
<form [formGroup]="userForm" (ngSubmit)="submitForm()">
  <div class="form-group">

    <label class="center-block">Name:<br>
        <input class="form-control" name="name" [formControl]="userForm.controls['name']" />
      </label> <br />

    <div *ngIf="!userForm.controls['name'].valid" class="error">Required</div><br>

    <label class="center-block">Email:<br>
        <input class="form-control" [formControl]="userForm.controls['email']" />
      </label><br />
    <div *ngIf="!userForm.controls['email'].valid" class="error">Must be Email</div><br>

    <label class="center-block">Post:<br>
        <textarea class="form-control" [formControl]="userForm.controls['post']"></textarea>
      </label><br />
    <div *ngIf="!userForm.controls['post'].valid" class="error">Minimum length 10</div><br>


    <div style="margin-bottom: 1em">
      <button type="submit" [disabled]="!userForm.valid" class="btn btn-success">Submit</button> &nbsp;
      <button type="button" class="btn btn-danger" (click)="getData()">Get Data</button>
    </div>
  </div>
</form>

<!--p>Form value: {{ userForm.value | json }}</p>
<p>Form status: {{ userForm.status | json }}</p>-->
